.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;
    margin-left: 20px;
}
.wd-navigation li {
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.wd-navigation li.wd-active {
  border-left: 2px solid black;
}
.wd-navigation li.wd-active a {
  color: black;
}
.wd-navigation a {
  color: red;
  text-decoration: none;
}

.wd-kanbas-navigation-full {
  background-color: white;
  list-style: none;
  padding-right: 100px;  margin: 0px;
  width: 80px;
  height: 729px;
}
.wd-kanbas-navigation-full li {
  padding: 5px;     margin-bottom: 10px;
  font-size: 0.8em;  text-align: center;
}
.wd-kanbas-navigation-full li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation-full li.wd-active a {
  color: red;
}
.wd-kanbas-navigation-full a {
  color: red;
  text-decoration: none;
}
.wd-kanbas-navigation-full a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
  display: block;
}

.wd-navigation-full {
  background-color: white;
  list-style: none;
  padding: 0px;
  width: 125px;
  margin: 0px;
  margin-left: 20px;
}
.wd-navigation-full li {
padding-left: 10px;
margin-bottom: 5px;
margin-top: 10px;
padding-top: 0px;
padding-bottom: 5px;
}
.wd-navigation-full li.wd-active {
border-left: 2px solid black;
}
.wd-navigation-full li.wd-active a {
color: black;
}
.wd-navigation-full a {
color: red;
text-decoration: none;
}
  
.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 80px;
    height: 900px;
  }
  .wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 10px;
    font-size: 0.8em;  text-align: center;
  }
  .wd-kanbas-navigation li.wd-active {
    background-color: white;
  }
  .wd-kanbas-navigation li.wd-active a {
    color: red;
  }
  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
  }
  .wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
    display: block;
  }
 
  .profile-logo a i{
      color: white;
  }

  body {
    margin: 0;
    padding: 0;
  }
  body * {
    font-family: Arial, Helvetica, sans-serif;
  }

  .course-clicker {
    width:20px;
    height:24px;
    outline:none;
    cursor:pointer;
    }

    .kanbas-clicker {
      width:20px;
      height:24px;
      outline:none;
      cursor:pointer;
      }

    .hide-clicker {
      width:20px;
      height:24px;
      outline:none;
      cursor:pointer;
      }
    
    .course-nav{
      margin:0;
      padding:0;
      height:100%;
      width:100%;
      background-color: white;
      display: none;
    }

    .kanbas-nav{
      margin:0;
      padding:0;
      height:100%;
      width:1000000;
      background-color: white;
      display: none;
      text-align: left;
    }
    
    .course-clicker:focus + .course-nav{
      display:block;
    }

    .hide-clicker:focus + .course-nav{
      display:none;
    }

    .kanbas-clicker:focus + .kanbas-nav{
      display:block;
    }

    .hide-clicker:focus + .kanbas-nav{
      display:none;
    }

    .course-status-font{
      font-size: 60%; color: grey; text-indent: 20px; margin: 0; padding: 0px;
    }



    